<ul class="flex items-center justify-end text-sm font-medium w-full h-full">
    {% if user.is_authenticated %}
        <li class="nav_link">
            <a href="{% url 'users:logout' %}">
                <div>Log out</div>
            </a>
        </li>
    {% else %}
        <li class="nav_link">
            <a href="{% url 'users:login' %}">
                <div>Log in</div>
            </a>
        </li>
        <li class="nav_link">
            <a href="{% url 'users:signup' %}">
            <div>Sign Up</div>
            </a>
        </li>
    {% endif %}
    
</ul>
