<div class="mb-10 px-2">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class="h-96 md:h-80 lg:h-60 xl:h-60 bg-cover bg-center rounded-2xl" style="background-image: url('{{room.first_photo}}')"></div>
        <div class="flex justify-between mt-3 mb-2">
            <div class="flex w-10/12">
                {% if room.host.superhost %}
                    <div class="uppercase font-medium text-xs px-2 py-0.5 border border-gray-700 rounded mr-2">superhost</div>
                {% endif %}
                <div class="text-sm text-gray-600 truncate">{{room.city}}, {{room.country.name}}</div>

            </div>
            <div class="text-sm flex items-center justify-center">
            <i class="fas fa-star text-red-500 text-xs mr-1"></i> {{room.total_rating}}
            </div>
        </div>
        <div class="text-black truncate">{{room.name}}</div>
    </a>
</div>