{% extends 'base.html' %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

    <div class="container mx-auto flex mt-40 mb-24 ">
        
        <div class="border p-6 border-gray-300 mr-20 w-3/12">
            <form method="GET" action="{% url 'rooms:search' %}" >
                <button class="btn-link mb-10">Search</button>
                <div class="w-full">
                    {{form}}
                </div>
            </form>
        </div>
        <div class="">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-5">
                {% for room in rooms %}
                    {% include 'mixins/room_card.html' with room=room %}
                {% endfor %}
            </div>

            <h5>
                {% if rooms.has_previous %}
                    <a href="?page={{rooms.previous_page_number}}">Previous</a>
                {% endif %}

                Page {{rooms.number}} of {{rooms.paginator.num_pages}}

                {% if rooms.has_next %}
                    <a href="?page={{rooms.next_page_number}}">Next</a>
                {% endif %}
            </h5>
        </div>
    </div>

{% endblock content %}