{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}{% endblock page_title %} | Maxbnb</title>
  </head>
  <body class="text-gray-800 mt-24">
    <header class="container max-w-full inset-0 flex md:grid md:grid-cols-3 items-center justify-between px-10 lg:px-20 h-20 shadow-md fixed bg-white">
      <div class="items-center hidden md:flex">
        <a class="flex items-center" href="{% url 'core:home' %}">
          <img class="w-8" src="{% static 'image/maxbnb_logo.png' %}">
          <div class="ml-2 text-xl text-red-500 font-bold"><span class="hidden lg:block">maxbnb</span></div>
        </a>
      </div>
      <div class="w-full flex justify-center items-center mx-auto">
        {% block search_bar %}
          <form method="GET" action="{% url 'rooms:search' %}" class="w-80">
              <input class="search-box" placeholder="Search by City" type="text" name="city" />
          </form>
        {% endblock search_bar %}
      </div>
      <div class="hidden md:flex md:justify-end h-full">
        {% include "partials/nav.html" %}
      </div>

    </header>
    {% block content %}{% endblock  %} 

    {% include "partials/footer.html" %}
    
  </body>
</html>
