{% extends "base.html" %}

{% block page_title %}
    Reservation {{reservation.check_in}}
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <div class="container  max-w-6xl h-full mx-auto mb-20 mt-28 flex flex-col">
        <div class="border-t border-l border-r bg-cover bg-center h-56 rounded-t-lg" style="background-image: url({{reservation.room.first_photo}});"></div>
        <div class="flex flex-col items-start border-l border-r border-t border-b">
            <div class="font-medium border-b py-8 px-5 w-full">
                {{reservation.check_in}} - {{reservation.check_out}}
                <span class="ml-3 {% if reservation.status == 'pending' %} text-yellow-500 {% elif reservation.status == 'canceled' %} text-red-500 {% else %} text-green-600 {% endif %}">{{reservation.get_status_display}}</span>
            </div>
    
            <span class="text-2xl border-b p-5 mt-2 w-full">
                {{reservation.room.name}}
            </span>
    
            <div class="flex p-5 border-b w-full">
                <div class="flex flex-col items-center">
                    {% include "mixins/user_avatar.html" with user=reservation.room.host amount=12 %}
                    <span class="mt-2 text-gray-500">{{reservation.room.host.first_name}}</span>
                </div>
                <div class="ml-5 flex flex-col">
                    <span class="font-medium mb-px">Contact your Airbnb Host</span>
                    <a href="#" class="font-medium text-green-500">Send a Message</a>
                </div>
            </div>
            <div class="py-10 px-5 flex">
            {% if reservation.status != 'canceled' %}
                {% if reservation.status == 'confirmed' and reservation.is_finished %}
                    <div class="">
                        <div class="font-medium text-lg text-center w-full mb-5">Write your Review</div>
                        <form action="{% url 'reviews:create' reservation.room.pk %}" method="POST" class="w-1/2 mx-auto">
                            {% csrf_token %}
                            {{form}}
                            <button class="btn-link mt-10 ">Submit Review</button>
                        </form>
                    </div>
                    
                {% else %}
                    {% if reservation.status == 'pending' %}
                        <div class="mr-5">
                            <a href="{% url 'reservations:edit' reservation.pk 'cancel' %}" class="btn-link block px-3">Cancel Reservation</a>
                        </div>
                        {% if reservation.room.host == user %}
                            <div>
                                <a href="{% url 'reservations:edit' reservation.pk 'confirm' %}" class="btn-link block px-3">Confirm Reservation</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}